<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyunedu.sky.dao.TeachPlanMapper">

    <resultMap id="teachPlanMap" type="com.jiuyunedu.sky.course.ext.TeachplanNode">
        <id property="id" column="one_id" />
        <result property="pname" column="one_pname" />
        <association property="children" javaType="com.jiuyunedu.sky.course.ext.TeachplanNode">
            <result property="id" column="two_id" />
            <result property="pname" column="two_pname" />
            <association property="children" javaType="com.jiuyunedu.sky.course.ext.TeachplanNode">
                <result property="id" column="three_id" />
                <result property="pname" column="three_pname" />
            </association>
        </association>
    </resultMap>

    <select id="getTeachPlanNodeByCourseId" resultMap="teachPlanMap">
        SELECT
            p.id as one_id,
            p.pname as one_pname,
            s.id as two_id,
            s.pname as two_pname,
            c.id as three_id,
            c.pname as three_pname
        FROM teachplan p
                 LEFT JOIN teachplan s ON s.parentid = p.id
                 LEFT JOIN teachplan c ON c.parentid = s.id
        WHERE p.parentid = 0
        <if test="courseId != null and courseId != ''">
            AND p.courseid = #{courseId}
        </if>
        ORDER BY p.orderby, s.orderby, c.orderby
    </select>




</mapper>